.original-button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: #333333;
    font-size: 18px;
    border-radius: 0px;
    width: 200px;
    height: 40px;
    font-weight: bold;
    border: 2px solid #333333;
    transition: 0.3s;
    box-shadow: 5px 5px 0px 0px rgba(51, 51, 51, 1);
    background-color: #ffffff;
  }
  
  .original-button:hover {
    box-shadow: 0 0 #333;
    color: #fff;
    background-color: #333;
  }

  a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(182, 182, 182);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: underline;
  }